/** @format */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.w-15 {
  width: 15%;
}

.w-30 {
  width: 30%;
}

.w-600px {
  width: 600px;
}

.react-datepicker-wrapper {
  display: block;
}

.sidebar {
  background-color: #343a40 !important;
  border-right: 1px solid #ddd;
  width: 250px;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding-inline-start: 0;
}

.sidebar ul li {
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
}

.sidenav {
  background-color: #343a40 !important;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
  box-shadow: 0px 0px 0px transparent;
  border: 0px;
  border-bottom: 1px solid #333;
  color: white;
}

.sidenav:hover,
.sidenav-active {
  background-color: #191919 !important;
}

.sidenav:focus {
  outline: none;
}

.sideNav-sub {
}
