/** @format */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.w-15 {
  width: 15%;
}

.w-30 {
  width: 30%;
}

.w-600px {
  width: 600px;
}

.react-datepicker-wrapper {
  display: block;
}

.sidebar {
  background-color: #343a40 !important;
  width: 250px;
  left: -250px;
  height: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  transition: all 0.5s ease;
  z-index: 1200;
  visibility: visible;
  padding: 1rem 0rem;
}

.sidebar ul {
  list-style: none;
  padding-inline-start: 0;
}

.sidebar ul li {
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  display: block;
}

.sidenav {
  background-color: #343a40 !important;
  width: 100%;
  text-align: left;
  padding: 15px 20px;
  border: 0px;
  border-bottom: 1px solid #343434;
  color: white;
  transition: all 0.3s ease;
}

.sidenav:hover,
.sidenav-active {
  background-color: #424242 !important;
}

.sidenav:focus {
  outline: none;
}

#check {
  display: none;
}

label #btn {
  cursor: pointer;
}
#check:checked ~ .sidebar {
  left: 0;
}

.main-content {
  transition: all 0.5s ease;
}

.dimmer {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1199;
}

#check:checked ~ .dimmer {
  display: block;
}

.itemsCheckBox {
  width: 15px;
  height: 15px;
}
